// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray;
}
.question {
}
.you {
font-style: italic;
}
.answer {
font-weight: 600;
}
.coach {
  font-style: italic;
}

.User {
border-left: 6px solid;
margin: 15px;
border-left-color: #DDDDDD;
padding: 6px;
}

.Coachdiv {
border-left: 6px solid;
background-color: #FEFFE1;
margin: 15px;
border-left-color: #DDDDDD;
padding: 6px;
}
